swagger: '2.0'
info:
  title: ${TITLE}
  description: ${DESCRIPTION}
  version: 1.0.0
host: ${ESP_HOSTNAME}
schemes:
  - https
produces:
  - application/json
x-google-backend:
  address: ${HOSTNAME}
  protocol: h2
securityDefinitions:
  firebase:
    authorizationUrl: ""
    flow: "implicit"
    type: "oauth2"
    x-google-issuer: "https://securetoken.google.com/${ESP_PROJECT_ID}"
    x-google-jwks_uri: "https://www.googleapis.com/service_accounts/v1/metadata/x509/securetoken@system.gserviceaccount.com"
    x-google-audiences: "${ESP_PROJECT_ID}"
paths:
  /hello:
    get:
      summary: get "Hello world!"
      operationId: hello
      responses:
        '200':
          description: return "Hello world!"
          schema:
            type: string
  /ping:
    get:
      summary: ping pong
      operationId: ping
      responses:
        '200':
          description: return "pong"
          schema:
            type: string
  /profile:
    get:
      summary: get profile (name and age)
      operationId: profile
      responses:
        '200':
          description: return user's name and age
          schema:
            type: object
            properties:
              name: 
                type: string
                example: "taro"
              age:
                type: integer
                format: u16
                example: 30
      security:
        - firebase: []